# Preparation of Rio 2016 data

## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Importing Packages](#section2)<br>
3. [Loading Data](#section3)<br>

<a id=section1></a>
## 1. Problem Statement: Preparation of data on rio 2016 medal winners

<a id=section2></a>
## 2. Importing Packages

In [8]:
import numpy as np                     

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50                 # To display every column of the dataset in head()

import warnings
warnings.filterwarnings('ignore')                   # To suppress all the warnings in the notebook.

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid', font_scale=1.3, color_codes=True)      # To apply seaborn styles to the plots.

# Install and update plotly using this command to the latest version (higher than version 4.0.0)

!pip install plotly --upgrade

# Install chart_studio, please use this command. 

!pip install chart-studio

# Making plotly specific imports
# These imports are necessary to use plotly offline without signing in to their website.

from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import chart_studio.plotly as py
from plotly import tools
init_notebook_mode(connected=True)

Requirement already up-to-date: plotly in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (4.4.1)
Requirement already satisfied, skipping upgrade: six in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: chart-studio in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (1.0.0)
Requirement already satisfied: requests in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from chart-studio) (2.22.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from chart-studio) (1.3.3)
Requirement already satisfied: plotly in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from chart-studio) (4.4.1)
Requirement already satisfied: six in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from chart-studio) (1.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from requests->chart-studio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from requests->chart-studio) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from requests->chart-studio) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\91949\downloads\hemanth\anaconda\lib\site-packages (from requests->chart-studio) (2.8)

<a id=section3></a>
## 3. Loading Data

### Importing Dataset 1

In [12]:
# Importing the dataset (on 2016 Olympics athletes data).

df_data = pd.read_csv("https://raw.githubusercontent.com/hemanthappala/rio2016/master/athletes.csv")
df_data.head()

,id,name,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze,info
0,736041664,A Jesus Garcia,ESP,male,1969-10-17,1.72,64.0,athletics,0,0,0,NaN
1,532037425,A Lam Shin,KOR,female,1986-09-23,1.68,56.0,fencing,0,0,0,NaN
2,435962603,Aaron Brown,CAN,male,1992-05-27,1.98,79.0,athletics,0,0,1,NaN
3,521041435,Aaron Cook,MDA,male,1991-01-02,1.83,80.0,taekwondo,0,0,0,NaN
4,33922579,Aaron Gate,NZL,male,1990-11-26,1.81,71.0,cycling,0,0,0,NaN

### Importing Dataset 2

In [14]:
# Importing the dataset (on 2016 Olympics events data).

df_data = pd.read_csv("https://raw.githubusercontent.com/hemanthappala/rio2016/master/events.csv")
df_data.head()

,id,sport,discipline,name,sex,venues
0,701492,aquatics,backstroke,Women's 100m Backstroke,female,Olympic Aquatics Stadium
1,305278,aquatics,backstroke,Women's 200m Backstroke,female,Olympic Aquatics Stadium
2,708010,aquatics,backstroke,Men's 100m Backstroke,male,Olympic Aquatics Stadium
3,729643,aquatics,backstroke,Men's 200m Backstroke,male,Olympic Aquatics Stadium
4,567019,aquatics,breaststroke,Women's 100m Breaststroke,female,Olympic Aquatics Stadium